.loader {
	all: unset;
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 20px;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 6px solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	z-index: 10000000 !important;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
