.draft {
	all: unset;
	position: fixed;
	margin: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 10000000;
}

.link {
	position: relative;
	all: unset;
	cursor: pointer;
}

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px !important;
	padding-left: 14px !important;
	padding-right: 14px !important;
	white-space: nowrap;
	text-transform: uppercase;
	border: 1px solid rgba(0, 0, 0, 1) !important;
	font-size: 12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	background-color: #fff;
	color: #000;
}

.button[aria-checked='true'] {
	background-color: #000 !important;
	color: #fff !important;
}

.button[aria-checked='false'] {
	background-color: #fff !important;
	color: #000 !important;
}

.loader {
	all: unset;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	display: inline-block;
	border: 4px solid;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.5);
}

.loader[data-draft='true'] {
	border-color: rgba(255, 255, 255, 0.85) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.65)
		rgba(255, 255, 255, 0.55);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
