.draftMode {
	all: unset;
	position: fixed;
	bottom: 14px;
	right: 14px;
	height: 40px;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 10000000;
	background-color: transparent;
	border-radius: 20px;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.label {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	transition: none !important;
}

.button:hover {
	background-color: rgb(100, 96, 96);
}

.button span {
	all: unset !important;
}

.loader {
	all: unset;
	width: 50px;
	margin: 0;
	padding: 0;
	aspect-ratio: 1;
	border-radius: 50%;
	opacity: 0.8;
	background:
		radial-gradient(farthest-side, rgba(100, 100, 100, 0.3) 94%, #0000) top/8px 8px no-repeat,
		conic-gradient(#0000 30%, rgba(100, 100, 100, 0.3));
	mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
	animation: l13 1s infinite linear;
}
@keyframes l13 {
	100% {
		transform: rotate(1turn);
	}
}
