.draft {
	all: unset;
	position: fixed;
	margin: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.link {
	position: relative;
	all: unset;
	cursor: pointer;
}

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;
	background-color: #000;
	color: #fff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.button:hover,
.button[aria-checked='true'] {
	background-color: #fff;
	color: #000;
}

.loader {
	all: unset;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: inline-block;
	border: 6px solid;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	margin-right: 5px;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
