.draftMode {
	all: unset;
	position: fixed;
	bottom: 14px;
	right: 14px;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 10000000;
	background-color: transparent;
	border-radius: 20px;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.label {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	transition: none !important;
}

.button:hover {
	background-color: rgb(100, 96, 96);
}

.button span {
	all: unset !important;
}

.loader {
	width: 48px;
	height: 48px;
	border: 10px solid #fff;
	border-radius: 50%;
	position: relative;
	transform: rotate(45deg);
	box-sizing: border-box;
}

.loader::before {
	content: '';
	position: absolute;
	box-sizing: border-box;
	inset: -10px;
	border-radius: 50%;
	border: 10px solid #000000;
	animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}
