.draft {
	all: unset;
	position: fixed;
	margin: 10px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 10000000;
}

.link {
	position: relative;
	all: unset;
	cursor: pointer;
}

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px !important;
	width: 70px !important;
	height: 20px !important;
	white-space: nowrap;
	text-transform: uppercase;
	border: 1px solid rgba(0, 0, 0, 1) !important;
	font-size: 12px !important;
	font-family: Arial, Helvetica, sans-serif !important;
	background-color: #fff;
	color: #000;
}

.button[aria-checked='true'] {
	background-color: #000 !important;
	color: #fff !important;
}

.button[aria-checked='false'] {
	background-color: #fff !important;
	color: #000 !important;
}

.loading,
.reloading {
	all: unset;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	display: inline-block;
	border: 3px solid;
	box-sizing: border-box;
	animation: rotation 0.5s linear infinite;
	border-color: rgba(0, 0, 0, 0.1) rgba(134, 9, 9, 0.881) rgba(0, 0, 0, 0.3) rgba(26, 183, 240, 0.4);
}

.reloading[data-draft='true'] {
	border: 3px solid;
	border-color: rgba(255, 255, 255, 1) rgba(255, 255, 255, 0.85) rgba(255, 255, 255, 0.7)
		rgba(255, 255, 255, 0.55) !important;
}

.loading {
	width: 30px;
	height: 30px;
	border: 6px solid;
	border-color: rgba(0, 0, 0, 0.1) rgba(134, 9, 9, 0.881) rgba(0, 0, 0, 0.3) rgba(26, 183, 240, 0.4);
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
