.draftMode {
	all: unset;
	position: fixed;
	bottom: 14px;
	right: 14px;
	height: 30px;
	padding-left: 8px;
	padding-right: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	z-index: 10000000;
	background-color: transparent;
	border-radius: 20px;
	color: #fff;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.label {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 12px;
	text-transform: uppercase;
}

.button {
	all: unset;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	transition: none !important;
}

.button:hover {
	background-color: rgb(100, 96, 96);
}

.button span {
	all: unset !important;
}

.loader {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	border: 6px solid;
	border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35)
		rgba(255, 255, 255, 0.5);
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
